[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
python-dotenv = "*"
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
sounddevice = "*"
numpy = "*"
plyer = "*"
pyobjus = "*"

[dev-packages]

[requires]
python_version = "3.11"
